/*普通搜索和高级搜索分页部分*/
.pageFooter{
    height:100px;
    background:transparent;
    text-align:center;
}
.noData{
    padding-top:25px;
    font:bold 24px/48px 'Microsoft YaHei';
    color:#666666;
}
.generalSearchResult, .advanceSearchResult {
    display:none;
}
.generalSearchResult p , .advanceSearchResult p{
    padding-top:20px;
    color:black;
    font-size:14px;
    font-family: "Microsoft YaHei";
}
.gengeralSearchNum, .advanceSearchNum{
    font-weight: bold;
    color:lightcoral;
    padding:0 4px;
}
#pageDemo01,#pageDemo02{
    text-align:center;
}

.caption h3{margin-top:10px;margin-bottom: 15px;}
.content {text-indent: 2em; min-height:60px;}
.publishCompany {color:#999;font-size:16px;}
.publishCompany p {margin-bottom: 0;}
.linkHref{color: #337ab7;}

