.detailHeader{padding-top:15px;margin-bottom:20px;}
.detailHeader p{padding-bottom:10px;margin-left:30px;font-size:16px;font-family: "Microsoft YaHei";}
#School_name{margin-top:10px;margin-left:30px;color:#1E9FFF;font-size:20px;}
.buildTime, .buildSite{padding-left:200px;}
.allCourse, .baseInfo, .stuAndTech{ background: white;box-shadow: 2px 2px 5px grey;margin-bottom:20px;padding-bottom: 10px;}
.allCourse p, .baseInfo p, .stuAndTech p{font-size:16px;padding-left:20px;}
.courseTitle, .baseTitle, .stuTitle{color:black;background:#428bca;width:100px;font:16px/24px 'Microsoft YaHei';color:white;}
.stuLeft{padding-right:60px;}
.overAllBox{padding:20px;border:2px solid lightgrey;margin-left:30px;background: #F3F3F3;}
.titleH3{background: #eee;margin-top:0;margin-bottom:0;font-size:18px;}

#closeUpImg{cursor: pointer;top:-10px;padding: 11px;}
#closeUpImg:hover{background: red;color: white;}
#textContent:hover{box-shadow: 0 0 5px rgba(0,204,255,0.8 )}

/*评论的内容区*/
.wrapComment{border: 1px solid #ccc;padding: 10px 20px 0 20px;margin-top:20px;margin-bottom: 20px;}
.headerComment{border-bottom: 1px dashed #ccc;height: 70px;}
.userLogo{border-radius: 30px;}
.userInfo{padding-bottom: 15px;padding-left: 30px;}
.nickName{color: #1E9FFF;padding-top: 5px;font-weight: bold;}
.userSign{color: #999}
.commentContent{border-bottom: 1px dashed #ccc;padding-top:10px;padding-bottom:10px;min-height: 50px;text-indent: 2em;line-height: 1.5;color:black;}
.bottomComment{padding-top: 10px;color: #999;}
.glyphicon-thumbs-up,.glyphicon-thumbs-down{top:2px;cursor: pointer;}
.verticalLine{padding: 0 15px;}

.noPass{color: #666;background: #ccc;}

/* css 重置 */
/**{margin:0; padding:0; list-style:none; }*/
/*body{ background:#fff; font:normal 12px/22px 'Microsoft YaHei';  }*/
/*img{ border:0;  }*/
/*a{ text-decoration:none;  }*/

/*!* 本例子css *!*/
/*.picMarquee-left{   overflow:hidden; position:relative;  border:1px solid #ccc;   }*/
/*.picMarquee-left .hd{ overflow:hidden;  height:50px; background:#f4f4f4; padding:0 10px;  }*/
/*.picMarquee-left .hd .prev,.picMarquee-left .hd .next{ display:block;  width:30px; height:30px; float:right; margin-right:5px; margin-top:10px;  overflow:hidden;*/
    /*cursor:pointer; }*/
/*.picMarquee-left .hd .next{ background-position:0 -50px;  }*/
/*.picMarquee-left .hd .prevStop{ background-position:-60px 0; }*/
/*.picMarquee-left .hd .nextStop{ background-position:-60px -50px; }*/
/*.picMarquee-left .bd{ padding:10px;   }*/
/*.picMarquee-left .bd ul{ overflow:hidden; zoom:1; }*/
/*.picMarquee-left .bd ul li{ margin:0 8px; float:left; _display:inline; overflow:hidden; text-align:center;  }*/
/*.picMarquee-left .bd ul li .pic{ text-align:center; }*/
/*.picMarquee-left .bd ul li .pic img{ width:360px; height:270px; display:block; padding:2px; border:1px solid #ccc; }*/
/*.picMarquee-left .bd ul li .pic a:hover img{ border-color:#999;  }*/
/*.picMarquee-left .bd ul li .title{ line-height:24px;   }*/
