

.wrap h1{
   text-align:center;
    color:#5da4e6;
   font-weight:bold;
}
.hotContent{
    /*width:700px;*/
    margin:0 auto;
    text-align:center;
}
.hotContent a {
    display:inline-block;
    font-size:16px;
    color:steelblue;
    padding:5px 3px;
}
.header-search{
    width: 536px;
    height: 40px;
    border: 1px solid #3297d8;
    margin: 30px auto;
}
#search{
    width: 318px;
    height:38px;line-height: 38px;float: left;border: 0;outline: none;
    padding-left: 10px;
    font-family:'Microsoft YaHei';
}
#SearchButton{
    /*background-image: url(search-button.png);*/
    width:78px;height:38px;float: right;border:0;
    line-height:40px;
    background-color:#5da4e6;
    color: white;
    font-size: 16px;
    font-family:'Microsoft YaHei';
}

/*主题内容*/
.list-group p {
    background: #ccc;
    font-size: 16px;
    font-weight: bold;
    margin-top:15px;
    color:#4682b4;
}
.list-group p a {
    color:#4682b4;
}
.list-group a {
    color:#0C0C0C;
    border-top-width:0;
    border-bottom-width:0;
}
.list-group a:last-child {
    border-bottom-width:1px;
}
.list-group a:hover {
    color:#003bb3;
}
.badge{
    margin-right:10px;
}


/*4个图标*/
.nsiFadeOut{
    width: 50%;
    margin-right: 80px;
}
.nsiSlideUp{
    width: 50%;
    height:0px;
    opacity:0;
    overflow: hidden;
    display: none;
}

.nsiTool01, .nsiTool02, .nsiTool03, .nsiTool04{
    height:200px;
    padding-bottom:25px;
}

.nsiFadeOut h3{
    margin-top:10px;
}
.nsiFadeOut p{
    font-size: 16px;
    margin-top:20px;
    line-height: 1.5;
}
.nsiSlideUp{
    text-indent: 2em;line-height: 1.5;margin-right: 80px;margin-top: 0px;font-size: 16px;
}


/*头部导航*/
@media screen and (max-width:768px) {
    /*4个图标*/
    .nsiLable img{width:100px;height:100px;}
    .nsiLable .nsiFadeOut{height:150px;}
    /*搜索框*/
    .header-search{ width: 334px; height: 40px; border: 1px solid #3297d8;  margin: 20px auto; }
    #search{width:244px;}
    .nsiSlideUp{margin-right: 10px;font-size: 14px;}
    .nsiFadeOut h3{   font-size: 16px;font-weight: bold;}
    .nsiFadeOut {  font-size: 14px;  margin-top:0px;  margin-right: 20px; line-height: 1.5; }
    .nsiFadeOut p {font-size: 14px;margin-top: 10px;}

    .mobileMT0{margin-top: 0;font-size:28px;margin-bottom: 30px;}
}
