
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: normal;
}
#registerMainID{
    background-color: #fff;
    width:960px;
    height:728px;
    margin: 50px auto 120px auto;
    border: #E0E0E0 1px solid;

}
#headerID{
    height: 36px;
    background-color: #6495C6;
    border: #5B88B8 1px solid;
    border-radius: 3px 3px 0 0;
}
.header h1{
    font-size: 14px;
    line-height: 36px;
    font-weight: normal;
    color: #FFF;
    text-indent: 20px;
    margin:0;
}
.leftDiv{
    background-color: #fff;
    width: 60%;
    float: left;
    padding: 50px 0 36px 10px;
    zoom: 1;
}
.rightDiv{
    background-color: #fff;
    float: left;
    width: 40%;
    height:89%;
    background-image:url(../img/register/bg01.jpg);
}
.form{
    padding-top:0;
}
/* 		提示条 */
#infoID01{
    background-color:#fff;
    border-radius:5px;
    margin: 0 20px 0 20px;
    text-align:center;
}